@font-face {
  font-family: 'Formula1-Regular';
  src: url('/static/styles/fonts/Formula1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1-Bold';
  src: url('/static/styles/fonts/Formula1-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Ensure both pages are absolutely positioned within a parent container */
#start_page, #race_page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Initially hide both */
}

#start_page {
  display: flex; /* Show the start page initially */
  justify-content: center; 
  align-items: center; 
}

body {
  font-family: 'Formula1-Regular', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  position: relative; /* Ensure body acts as a positioning context */
}

.title {
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.title h1 {
  font-family: 'Formula1-Bold';
  font-size: 18px;
}

.title h2 {
  font-family: 'Formula1-Regular';
  font-size: 15px;
}

#globe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
}

#globe_tooltip {
  position: absolute;
  background: rgba(255, 255, 255, 0.8); 
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px; 
  display: none;
  pointer-events: none; 
  z-index: 10; 
  font-size: 12px;
  font-family: 'Formula1-Bold', sans-serif; 
}


.tooltip-bold {
  font-family: 'Formula1-Bold', sans-serif;
}

.tooltip-regular {
  font-family: 'Formula1-Regular', sans-serif;
}

#driver_tooltip {
  position: absolute;
  background: rgba(255, 255, 255, 0.8); 
  border: none;
  border-radius: 10px;
  padding: 10px; 
  display: none;
  pointer-events: none; 
  z-index: 10; 
  font-size: 12px;
  font-family: 'Formula1-Bold', sans-serif; 
}


#globe_container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

#slider-container {
  display: flex;
  align-items: center;
}

#slider {
  width: 130px;
  height: 100px; /* Height of the slider track */
  margin-right: 0px; 
  transform: rotate(90deg);
  outline: none; /* Remove outline */
}

#years-labels {
  display: inline-block; 
  vertical-align: top; 
  margin-left: 0px; 
}

.year-label {
  text-align: left;
  margin-top: 7px;
}

.year-label.bold {
  font-family: 'Formula1-Bold', sans-serif;
}

.year-label.normal {
  color: black;
}


