<!DOCTYPE html>
<html lang="en">

<!-- header -->

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
</head>

<body>

  <div class="title">
    <h1>Formula 1</h1>
    <h2>Exploratory Analysis</h2>
</div>

  
<div id="container">
  <div id="slider-container">
    <div id="slider"></div>
    <div id="years-labels"></div>
  </div>
  <div id="globe"></div>
</div>


<div id="circuit"></div>

<select id="selectCircuit"></select>
<select name="select_year" id="select_year"></select>

<button id="start_race">(Re-) Start Race</button>
<button id="stop_race">Stop Race</button>
<button id="resume_race">Resume Race</button>

<div id="lap_display"></div>

<div class="slider">
    <label for="speedSlider">Renngeschwindigkeit: </label>
    <input type="range" id="speedSlider" min="-270" max="-2" value="-20">
</div>

<div class="slider">
    <label for="lapSlider">Rennrunde:</label>
    <input type="range" name="lapSlider" id="lapSlider" min=1 max = 30 value = 1>
</div>

<div id="pos_plot"></div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="module" src="../static/js/globe.js"></script>
<script type="module" src="../static/js/circuit.js"></script>
<script type="module" src="../static/js/positions.js"></script>

<script type="module">
  import { init_globe } from "../static/js/globe.js";

  const globe_data = {{ globe_data | safe }};
  const circuit_geo_data = {{ circuit_geo_data | safe }};

  init_globe(globe_data, circuit_geo_data);

  // update circuit data
  function updateCircuitData(season) {
    fetch(`/update_circuit_geo_data/${season}`)
        .then(response => response.json())
        .then(data => {
            // Update globe visualization with new data
            init_globe(globe_data, data); // Pass data directly without parsing
        })
        .catch(error => {
            console.error('Error updating circuit data:', error);
        });
}
</script>

<script type="module">
  import { init_circuit } from "../static/js/circuit.js"
  import { init_pos_plot } from "../static/js/positions.js"
  init_pos_plot()
  init_circuit({{ circuit_data | safe }})
</script>

</body>

</html>
